.btn-right {
	float: right;
}

h2 {
	position: static;
}
#cabecera {
	font-size: 2em;
}

.container {
background-color: grey;
margin-bottom: 20px;
}
p {
color: white;
}
h3 {
	text-align: center;
	color: #4d0000;
}



#header-nav {
	position: relative;	
	top: 0;
	width: 100%;

}

#container2 {
	position: relative;
}
#menu {
	position: relative;
	
}
#brand {

}
.navbar-brand {
	font-size: 2em;
}

#Beef {
	background-color: grey;
	color: white;
}

#Sushi {
	background-color: grey;
}