.btn-right {
	float: right;
}

h2 {
	position: static;
}
#cabecera {
	font-size: 2em;
}

.container {
background-color: grey;
}
p {
color: white;
}
h3 {
	text-align: center;
	color: #4d0000;
}


#header-nav {
	position: relative;	
	top: 0;
	width: 100%;

}

#container2 {
	position: relative;
}
#menu {
	position: relative;
	
}
#brand {
	margin-left: 40px;
}